# Never push these
.env
venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
*.log

# Oracle wallet files
wallet/
cwallet.sso
ewallet.p12
keystore.jks
ojdbc.properties
sqlnet.ora
tnsnames.ora
truststore.jks
wallet/
wallet/
Wallet_D2W1N9HOJWEQJDR2/
*.sso
*.pem
*.p12
*.jks